{
  margin :0;
padding:0;
box-sizing: border-box;

}
html,body{
padding:50px;
color:white;
background-color: black;
display:flex;
align-items: center;
justify-content: center;
}
.todo{
padding:15px;
/*  background-color: white; */
color: black;
border-radius: 20px;
display:flex;
justify-content: center;
align-items: center;

}
.todo input{
height:40px;
width:250px;
border-radius: 10px;
color:black;
font-size: 15px;
border:2px solid black;
}
.todo button{
  height:40px;
  width:100px;
  background-color: black;
  border:2px solid white;
  border-radius: 10px;
  margin-left: 10px;
  color:white;
  font-size: 15px;
}
ul li{
margin-left: 50px;
font-size: 20px;
margin-top:10px;
}

.deleteBtn{
    height:30px;
    width:80px;
    background-color:white;
    color:black;
    border: 2px solid white;
    border-radius:20px;
    margin-left:20px;
}
.updateAll{
  height:40px;
  width:200px;
  background-color: white;
  color:black;
  border:none;
  border-radius:10px;
  margin:10px;
  margin-left:90px;
}
    .updateOne{
        height:30px;
        width:80px;
        background-color:white;
       color:black;
        border: 2px solid white;
        border-radius:20px;
        margin-left:20px;
    }                                             
                        
.markAsDone{
  height:30px;
  width:100px;
  background-color:white;
 color:black;
  border: 2px solid white;
  border-radius:20px;
  margin-left:20px;
}
